@import "colors.scss";
@import "typography.scss";
@import "screens.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: $inter;
    font-size: $base-font-size;
}

body {
    margin: 0;
    padding: 0;
    color: $color-black;
    background-color: $color-white;
}